*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #fff;
    color: #000;
    position: relative;
}

h1, h2, h3, h4{
    font-weight: 500;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
}

li{
    list-style: none;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    .container{
        padding: 0 3rem;
    }
}

/* Header */
.header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #070B34;
    z-index: 1;
}

.header img {
    position: absolute;
    right: 5%;
    bottom: 0;
    width: 55rem;
}

@media only screen and (max-width: 996px) {
    .header{
        min-height: 60vh;
    }

    .header img{
        width: 50rem;
    }
}
@media only screen and (max-width: 768px) {
    .header img{
        width: 40rem;
    }
}

@media only screen and (max-width: 567px) {
    .header{
        min-height: 60vh;
    }

    .header img{
        width: 30rem;
    }
}

.nav{
    padding: 1.6rem 0;
    color: #fff;
}

.top-nav{
    display: none;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    font-size: 2.5rem;
    color: #fff;
}

.logo h1 span{
    font-weight: bold;
    color: #855988;
}